<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/Static/CSS/">
    <title>BBC.com</title>
</head>

<body>

    <header>
        <nav class="topnav"></nav>
        <div class="logo"><img class="logo" src="/Static/CSS/BBC.png"></div>
        <div class="signinpic"><img class="profile" src="/Static/CSS/icon.png"></div>
        <a href="signin" class="signin">Sign in</a>
        <a href="home" class="home">Home</a>
        <a href="news" class="news">News</a>
        <a href="sports" class="sports">Sports</a>
        <a href="reel" class="reel">Reel</a>
        <a href="worklife" class="worklife">Worklife</a>
        <a href="travel" class="travel">Travel</a>
        <a href="future" class="future">Future</a>
        <a href="culture" class="future">Culture</a>
        <div class="drop-more"><a href="moreOptions"></a>
            <label for="moreOptions"></label>
            <select name="moreOptions">
                <option value="option1">More</option>
            </select>
        </div>
        <div class="searchbar">
            <form class="form">
                <div class="wrapper"><input type="text" id="text" value="search"><input type="image" src="/Static/CSS/maginify.jpg"
                        class="button"></div>
            </form>
        </div>
        <a href="search" class="search">Search</a>
        </nav>
    </header>
    <div class="welcome">
        <div class="welcomeMessage">
            <h2>Welcome to BBC.com</h2>
        </div>
        <div class="date">
            <h4>Thursday, 13 August</h4>
        </div>

    </div>

    <section class="gridTop">
        <article class="gridmain">
            <a href="Middle East">
                <img src="/Static/CSS/IsraelUAEDeal.jpeg" alt="UAE Deal"></a>
            <h2>Israel and UAE strike historic peace deal</h2>
            <p>Israel and UAE agree to normalize relations, marking the third Israel-Arab peace deal</p>
            <div class="middleEast">MIDDLE EAST</div>

        </article>

        <article class="gridtopleft">
            <a href="Canada">
                <img src="/Static/CSS/AmericansGoHome.jpeg" alt="Americans"></a>
            <p>Americans, go home: Tension at Canada-US border</p>
            <div class="Canada">CANADA</div>
        </article>


        <article class="gridtopright">
            <a href="Health">
                <img src="/Static/CSS/Vaccinate.jpeg" alt="Vaccinate"></a>
            <p>How will the world vaccinate seven billion people?</p>
            <div class="Health">HEALTH</div>
        </article>

        <article class="gridbottomleft">
            <a href="Worklife">
                <img src="/Static/CSS/Productivity.jpeg" alt="Productivity"></a>
            <p>The online 'productivity gyms'</p>
            <div class="Worklife">WORKLIFE</div>
        </article>

        <article class="gridbottomright">
            <a href="Culture">
                <img src="/Static/CSS/FolkSinger.jpeg" alt="Folk"></a>
            <p>The folk singer murdered for his music</p>
            <div class="Culture">CULTURE</div>
        </article>
    </section>

    <h3>News</h3>

    <div class="bottomrow">
        <article class="bottomrowleft">
            <a href="BidenHarris">
                <img src="/Static/CSS/BidenHarris.jpeg" alt="Biden Harris"></a>
            <p>Biden and Harris say Trump has left US 'in tatters'</p>
            <p>Joe Biden and running mate Kamale Harris call
                President Donald Trump a "whining" incompetent leader.</p>
            <div class="USelection">US ELECTION 2020</div>
        </article>

        <article class="bottomrowcenter">
            <a href="Europe">
                <img src="/Static/CSS/WomenSolidarity.jpeg" alt=Women></a>
            <p>Women form 'solidarity chains' in Belarus protests</p>
            <p>Women take to the streets of Minsk dressed in white as
                they demand an end to police brutality.</p>
            <div class="Europe">EUROPE</div>

            <article class="bottomrowright">
                <a href="Trump">
                    <img src="/Static/CSS/Trump.jpeg" alt="Trump"></a>
                <p>Trump says low-pressure shower heads won't wash</p>
                <p>The US calls for rule to be eased after Donald Trump
                    complained of issues washing his hair. </p>
                <div class=USCanada>US & CANADA</div>
            </article>
    </div>
    </div>

</html>