<!DOCTYPE html>
<html lang="en"> 

<head>
    <link rel="stylesheet" href="/Static/CSS/">
    <title>BBC - Hompeage</title>
</head>

<body>

    <header id="banner" role="banner">
        <div class="homepage">
            <a href="https://www.bbc.com" id="homepage-link">Homepage</a>
        </div>
        <div class="signIn" id="signIn">
            <a href="https://www.bbc.com/signin">
                <span id="username">Sign In</span>
            </a>
        </div>
        <nav class="topnav"></nav>
            <ul>
                <li class="home">
                    <a href="https://www.bbc.com/">Home</a>
                </li class="news">
                    <a href="https://www.bbc.com/news">News</a></li>
                <li class="sports">
                    <a href="https://www.bbc.com/sport">Sport</a>
                </li>
                <li class="reel">
                    <a href="https://www.bbc.com/reel">reel</a>
                </li>
                <li class="worklife">
                    <a href="https://www.bbc.com/worklife">Worklife</a>
                </li>
                <li class="travel">
                    <a href="https://www.bbc.com/travel">Travel</a>
                </li>
                <li class="future">
                    <a href="https://www.bbc.com/future">Future</a>
                </li>
                <li class="culture">
                    <a href="https://www.bbc.com/culture">Culture</a>
                </li>
                <li id="nav-more">
                    <a class="moreOptions" href="https://www.bbc.com/more">
                        "More"
                        <span class="more-icon"></span>
                    </a>
                </li>
            </ul>
    
        <div class="searchbar">
            <form class="search-form">
                <div class="wrapper"><input type="text" id="text" value="search"></div>
                <a class="search_button" href="search.bbc.com/search"><img src="/Static/CSS/maginify.jpg" class="searchmagnify" alt="magnify"></a>
            </form>
        </div>
        </nav>
    </header>
    <div class="welcome">
        <div class="welcomeMessage">
            <h2>Welcome to BBC.com</h2>
        </div>
        <div class="date">
            <h4>Thursday, 13 August</h4>
        </div>

    </div>

    <section class="gridtop">
        <article class="gridmain"> <!--Change all articles to section-->
            <a href="Middle East">
                <img src="/Static/CSS/IsraelUAEDeal.jpeg" alt="UAE Deal"></a>
            <h2>Israel and UAE strike historic peace deal</h2> 
            <p>Israel and UAE agree to normalize relations, marking the third Israel-Arab peace deal</p>
            <div class="middleEast">MIDDLE EAST</div>

        </article>

        <article class="gridtopleft">
            <a href="Canada">
                <img src="/Static/CSS/AmericansGoHome.jpeg" alt="Americans"></a>
            <p>Americans, go home: Tension at Canada-US border</p>
            <div class="Canada">CANADA</div>
        </article>


        <article class="gridtopright">
            <a href="Health">
                <img src="/Static/CSS/Vaccinate.jpeg" alt="Vaccinate"></a>
            <p>How will the world vaccinate seven billion people?</p>
            <div class="Health">HEALTH</div>
        </article>

        <article class="gridbottomleft">
            <a href="Worklife">
                <img src="/Static/CSS/Productivity.jpeg" alt="Productivity"></a>
            <p>The online 'productivity gyms'</p>
            <div class="Worklife">WORKLIFE</div>
        </article>

        <article class="gridbottomright">
            <a href="Culture">
                <img src="/Static/CSS/FolkSinger.jpeg" alt="Folk"></a>
            <p>The folk singer murdered for his music</p>
            <div class="Culture">CULTURE</div>
        </article>
    </section>

    <h3>News</h3>

    <section class="bottomrow">
        <article class="bottomrowleft">
            <a href="BidenHarris">
                <img src="/Static/CSS/BidenHarris.jpeg" alt="Biden Harris"></a>
            <p>Biden and Harris say Trump has left US 'in tatters'</p>
            <p>Joe Biden and running mate Kamale Harris call
                President Donald Trump a "whining" incompetent leader.</p>
            <div class="USelection">US ELECTION 2020</div>
        </article>

        <article class="bottomrowcenter">
            <a href="Europe">
                <img src="/Static/CSS/WomenSolidarity.jpeg" alt=Women></a>
            <p>Women form 'solidarity chains' in Belarus protests</p>
            <p>Women take to the streets of Minsk dressed in white as
                they demand an end to police brutality.</p>
            <div class="Europe">EUROPE</div>

        <article class="bottomrowright">
            <a href="Trump">
                <img src="/Static/CSS/Trump.jpeg" alt="Trump"></a>
            <p>Trump says low-pressure shower heads won't wash</p>
            <p>The US calls for rule to be eased after Donald Trump
                complained of issues washing his hair. </p>
            <div class=USCanada>US & CANADA</div>
         </article>
    </section>

</html>